/* Top Box Design */
.slider .top-box {
    margin-bottom: 9rem;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.slider .top-box .text-box .title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: var(--text-900);
}

.slider .top-box .text-box .slider-indicator-wraper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .top-box .text-box .slider-indicator-wraper li {
    width: 1rem;
    height: 1rem;
    background: var(--bg-100);
    border-radius: 4px;
    margin: 0 0.4rem;
    border: 4px solid var(--scrollbar-bg);
    cursor: pointer;
    transition: all 0.3s ease;
}

.slider .top-box .text-box .slider-indicator-wraper li.active,
.slider .top-box .text-box .slider-indicator-wraper li:hover {
    border-color: var(--skin-color);
}

.slider .slider-btn {
    font-size: 2.6rem;
    background: var(--bg-100);
    padding: 0rem 0.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--skin-color);
    cursor: pointer;
    border: 3px solid transparent;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.slider .slider-btn:hover {
    border-color: var(--skin-color);
}

.my-slider {
    width: 100%;
    height: auto;
    position: relative;
}

.my-slider .slide-wraper {
    width: 100%;
    height: 380px;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    position: relative;
    left: 4px;
}

.my-slider .slide-wraper .slide {
    width: 28%;
    height: 380px;
    flex: 0 0 30%;
    transform: scale(0);
    padding: 1rem;
    position: absolute;
    top: 0;
    bottom: 0;
}

.my-slider .slide-wraper .slide.active-slide {
    width: 36%;
    transform: scale(1) translateX(-54%);
    margin: 0 1rem;
    left: 50%;
}

.prev-active {
    left: 0;
}

.next-active {
    right: 0;
}

.prev-active,
.next-active {
    transform: scale(0.9) !important;
}

/* Background Design */
.my-slider .slide-wraper .slide:before,
.my-slider .slide-wraper .slide:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.my-slider .slide-wraper .slide.active-slide:after,
.my-slider .slide-wraper .slide.active-slide:before {
    background: var(--bg-100);
    border-radius: 20px 60px 20px 150px;
    transform: skew(8deg, 0deg);
    z-index: 5;
}

.my-slider .slide-wraper .slide.active-slide:before {
    background: var(--skin-color);
    transform: skew(8deg, 0deg) translate(0px, -7px) scale(1.04);
}

.my-slider .slide-wraper .slide.prev-active:after,
.my-slider .slide-wraper .slide.prev-active:before,
.my-slider .slide-wraper .slide.next-active:after,
.my-slider .slide-wraper .slide.next-active:before {
    background: var(--bg-100);
    border-radius: 30px 20px 150px 20px;
    transform: skew(6deg, 0deg);
    z-index: 5;
}

.my-slider .slide-wraper .slide.prev-active:before,
.my-slider .slide-wraper .slide.next-active:before {
    background: var(--skin-color);
    transform: skew(6deg, 0deg) translate(0px, -7px) scale(1.04);
}

.my-slider .slide-wraper .slide.active-slide .testimonial-item {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 50;
    border-radius: 10px 80px 10px 140px;
}

.my-slider .slide-wraper .slide.prev-active .testimonial-item,
.my-slider .slide-wraper .slide.next-active .testimonial-item {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 50;
    border-radius: 10px 50px 90px 60px;
}

/* Testimonials Design */
.my-slider .slide-wraper .slide .testimonial-item {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 50;
    border-radius: 10px 80px 10px 140px;
    padding: 0rem 1rem;
    padding-bottom: 5rem;
}

.my-slider .slide-wraper .slide .testimonial-item .name {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-900);
    margin-bottom: 0.6rem;
}

.my-slider .slide-wraper .slide .testimonial-item .star-wraper {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.my-slider .slide-wraper .slide .testimonial-item .star-wraper .star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background: var(--scrollbar-bg);
    width: 2rem;
    height: 2rem;
    margin-right: 0.6rem;
}

.my-slider .slide-wraper .slide .testimonial-item .star-wraper .star.active {
    background: var(--skin-color);
}

.my-slider .slide-wraper .slide .testimonial-item .message {
    font-size: 1.1rem;
    font-family: var(--font-slab);
    font-weight: 400;
    line-height: 1.6rem;
}

/* .my-slider .slide-wraper .slide .testimonial-item .name {} */