/* Up To 1500 px Up To Desktop */
@media (min-width: 1500px) {
    html {
        font-size: 20px;
    }

    .container {
        max-width: 1300px;
    }
}

/* 1300 - 1500 Desktop */
@media (max-width: 1499px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 1399px) {
    html {
        font-size: 15px;
    }
}

/* 1000 - 1100 Learge Laptop */
@media (max-width: 1099px) {
    html {
        font-size: 13px;
    }

    /* Sidebar */
    .sidebar {
        width: 220px;
    }

    /* Main Content */
    .main-content {
        left: 220px;
    }

}

/* 900 - 1000 Midium Laptop */
@media (max-width: 999px) {
    html {
        font-size: 15px;
    }

    section .container {
        padding-top: 3.25rem;
        padding-bottom: 3.75rem;
    }

    /* Home */
    .home .img-box {
        flex: 0 0 98%;
        max-width: 98%;
    }

    .home .text-box {
        flex: 0 0 98%;
        max-width: 98%;
        min-height: 39rem;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: self-start;
    }

    .home .img-box img {
        height: auto;
        width: 100%;
    }

    .home .img-shape1 {
        display: none;
    }

    /* About */
    .about .about-bio .left {
        flex: 0 0 100%;
    }

    .about .about-bio .right {
        display: none;
    }

    .about .about-bio {
        width: 100%;
    }

    .skill-section .another-skill {
        display: block;
        margin-top: 5rem;
    }

    .skill-section .skill-wraper .skill {
        margin-bottom: 1.6rem;
    }

    /* Services */
    .services .services-item {
        flex: 0 0 48%;
        max-width: 48%;
    }

}

/* 800 - 900 Small Laptop */
@media (max-width: 899px) {

    /* Sidebar */
    .sidebar {
        width: 190px;
    }

    /* Main Content */
    .main-content {
        left: 190px;
    }

    .about .edu-content {
        margin: 0;
        flex-direction: column;
    }

    .about .education,
    .about .experience {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 4rem;
    }

    .about .edu-content .timeline .timeline-item::before {
        content: '';
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 6px;
        background: var(--skin-color);
    }

    /* Services */
    .services .services-content {
        justify-content: center;
        margin-top: 2rem;
    }

    .services .services-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* Portfolio */
    .portfolio .portfolio-item {
        flex: 0 0 98%;
        max-width: 98%;
    }

    /* Contact */
    .contact .box-content .box {
        flex: 0 0 48%;
        max-width: 48%;
        margin-bottom: 1rem;
    }
}

/* Below To 700 */
@media (max-width: 800px) {

    section .container {
        padding-top: 1rem;
        padding-bottom: 3.75rem;
    }

    .main-content {
        left: 0px;
        overflow-x: hidden;
    }


    /* Nav Toggler */
    .nav-toggler {
        display: flex;
    }


    /* Other Components */
    section {
        padding: 0 30px;
    }

    /* Mobile Nav Design */
    .sidebar {
        top: 0;
        left: -24rem;
        bottom: 0;
        width: 22rem;
        z-index: 100;
        transition: all 0.6s ease;
    }

    .sidebar.mobile_active {
        left: 0;
    }


    .sidebar.mobile_active {
        opacity: 1;
        left: 0;
    }

    /* Logo */
    .sidebar .logo {
        position: relative;
        top: 20px;
    }


    .sidebar .logo a:hover {
        color: var(--skin-color);
    }

    .sidebar .logo a:before,
    .sidebar .logo a:after {
        display: none;
    }

    .sidebar .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 100%;
    }

    .sidebar .nav li {
        width: 70%;
        text-align: center;
        margin-bottom: 1.2rem;
    }

    .sidebar .nav li a {
        font-size: 1.1rem;
    }

    /* Sosial */
    .sidebar .sosial li a {
        font-size: 1.7rem;
    }

    .fixed_content {
        position: fixed;
        bottom: 10px;
        left: 20px;
        z-index: 600;
        top: auto;
    }

    .theme_color_wraper {
        bottom: 13px;
        transform: translate(10px, 0px);
        visibility: hidden;
        opacity: 0;
        left: -100%;
    }

    .theme_color_wraper.active {
        left: 100%;
        right: auto;
    }

    .services .services-content {
        justify-content: space-between;
        margin-top: 2rem;
    }

    .services .services-item {
        flex: 0 0 48%;
        max-width: 48%;
    }

    .portfolio .portfolio-item {
        flex: 0 0 48%;
        max-width: 48%;
    }
}

/* Below To 600 */
@media (max-width: 700px) {
    html {
        font-size: 14px;
    }

    .about .about-bio .left .bio-wraper {
        flex-direction: column;
    }

    .about .about-bio .left .bio-wraper .bio-row {
        flex: 0 0 100%;
        display: flex;
        flex-direction: column;
        width: 100%;
    }



    .contact .container {
        padding-bottom: 1.5rem;
    }
}

@media (max-width: 600px) {
    .services .services-item {
        flex: 0 0 100%;
        max-width: 108%;
    }

    .portfolio .portfolio-item {
        flex: 2 0 98%;
        max-width: 100%;
    }
}

/* Below To 500 */
@media (max-width: 500px) {
    html {
        font-size: 13px;
    }

    /* .home .text-box {
        min-height: 560px;
    } */

    .home .text-box .hi {
        font-size: 1.4rem;
        line-height: 3rem;
        margin-bottom: 1rem;
    }

    .home .text-box .hi .name {
        font-size: 2.5rem;
    }

    .home .text-box .profetion {
        font-size: 1.3rem;
    }

    .home .text-box .description {
        line-height: 1.8rem;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .about .about-bio .left .btn-wraper a {
        margin-right: 0.5rem;
    }


    .skill-section .skill-content .wraper {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .skill-section .skill-content .wraper:first-child {
        margin-bottom: 3rem;
    }

    /* Services */
    .services .services-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .contact .form-content .row .input-box {
        flex: 0 0 100%;
    }
}

/* Below To 400 */
@media (max-width: 400px) {
    html {
        font-size: 13px;
    }

    .btn-primary,
    .btn-secondary {
        padding: 0.8rem 1.4rem;
    }

    .sidebar {
        width: 18rem;
    }

    .home .text-box .hi .name {
        font-size: 2rem;
    }

    .about .about-bio .left .btn-wraper {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    /* .about .about-bio .left .btn-wraper a {
        margin-right: 0;
        padding: 0.6rem 2rem;
    } */

    .fixed_content.nav_active {
        left: 20rem;
    }

    .contact .box-content .box {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .portfolio .portfolio-item .text-box {
        padding: 1rem;
    }

    .portfolio .portfolio-item .text-box .usages {
        display: none;
    }

    .portfolio .portfolio-item .text-box .btn-box {
        margin-top: 1rem;
        justify-content: space-between;
    }

    .portfolio .portfolio-item .text-box a.link {
        margin: 0;
        padding: 0.5rem 0.7rem;
        margin-right: 0;
        font-size: 0.9rem;
    }
}

/* Below To 350 */
@media (max-width: 350px) {
    html {
        font-size: 12px;
    }

    section {
        padding: 0 0px;
    }

    .btn-primary,
    .btn-secondary {
        padding: 0.8rem 1.2rem;
    }

    .home .text-box .hi .name {
        color: var(--skin-color);
        font-size: 2.6rem;
    }

    .about .about-bio .left .btn-wraper a {
        margin-right: 0;
        padding: 0.6rem 1.4rem;
    }

    .portfolio .portfolio-item .text-box a.link {
        padding: 0.4rem;
        margin-right: 0;
    }

    /* CContact */
    .contact .box-content .box {
        flex: 0 0 98%;
        max-width: 98%;
        margin-bottom: 1.4rem;
    }

    .contact .form-content .row .input-box {
        flex: 0 0 99%;
        padding: 0 1rem;
    }

    .contact .form-content .row .input-box input,
    .contact .form-content .row .input-box textarea {
        padding: 1rem 0.6rem;
        font-size: 1rem;
    }

    .fixed_content {
        bottom: -36px;
        left: 4px;
    }
}

/* Below To 250 */
@media (max-width: 250px) {
    html {
        font-size: 11px;
    }

    section {
        padding: 0 10px;
    }
}

/* Below To 200 */
@media (max-width: 200px) {
    html {
        font-size: 7px;
    }

    section {
        padding: 0;
    }
}




/* Height Responsive */
@media (max-height: 480px) {
    .sidebar .logo {
        display: none;
    }
}

@media (max-height: 400px) {
    .sidebar .sosial {
        bottom: 0rem;
    }
}